*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;;
    min-height: 100vh;
    background-color: #f0f0f0; /*Temporary clean background*/
}

.calculator{
    width: 100%;
    max-width: 340px;
    background-color: #212121;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgb(0,0,0,0.4);
}

.display{
    border-color: #3b3b3b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#calc-screen{
    display: block;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: right;
    font-family: monospace;
}

.all-buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button{
    padding: 18px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

/* Make the Clear (AC) button take upto 3 columns */
#clear{
    grid-column: span 2;
}

button[data-type="operator"], #equals {
    background-color: #ff9f0a;
    color: white;
}